// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// resources/sass/app.scss

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Adjust width as needed */
    height: 100vh;
    background-color: #f4f4f4;
    padding: 20px;
    overflow-y: auto;
}

// Adjust main content padding to account for sidebar
#app {
    padding-left: 250px; /* Adjust sidebar width */
}
